{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h3>{{ quiz.title }}</h3>
    <form method="post">
        {% csrf_token %}
        {% for question in questions %}
            <div class="mb-4">
                <h5>{{ forloop.counter }}. {{ question.text }}</h5>
                {% for option in question.options.all %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question_{{ question.id }}" value="{{ option.id }}" id="option{{ option.id }}">
                        <label class="form-check-label" for="option{{ option.id }}">
                            {{ option.text }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit Quiz</button>
    </form>
</div>
{% endblock %}

